:root{

    /* --blue: #3E54A3;
    --black:#1c2022;
    --white:#ffffff;
    --pink:#ed2c49;
    --memoEmoji:&#x1F4DD;
    --cardFileBox:&#x1f5c3;
    --lightBulb:&#x1f4a1; */


    --navy:#4d96a9;
    --navyHover:#8fe3f9;
    --purple:#855fb1;
    --purplehover:#d9bbff;
    --black:#28283d;
    --grey:#87879d;
    --white:#fafafa;

}